doctype html
html(lang="ru")
  head
    block title
      title Title

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //- meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="viewport", content="width=device-width, initial-scale=1 user-scalable=no maximum-scale=1")

    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="description", content="")

    meta(property="og:type", content="article")
    meta(property="og:url", content="test url")
    meta(property="og:title", content="test title")
    meta(property="og:description", content="test description")
    meta(property="og:image", content="image_url")

    meta(name="twitter:card", content="")
    meta(name="twitter:site", content="")
    meta(name="twitter:creator", content="")

    //- Для IE 10 и ниже
    //- Не используется ссылка, просто разместите файл, который называется favicon.ico в корне вашего сайта
    //- Для IE 11, Chrome, Firefox, Safari, Opera
    link(rel='icon', href='img/favicon-16.png', sizes='16x16', type='image/png')
    link(rel='icon', href='img/favicon-32.png', sizes='32x32', type='image/png')
    link(rel='icon', href='img/favicon-48.png', sizes='48x48', type='image/png')
    link(rel='icon', href='img/favicon-62.png', sizes='62x62', type='image/png')
    link(rel='icon', href='img/favicon-192.png', sizes='192x192', type='image/png')
    //- Больше информации: https://bitsofco.de/all-about-favicons-and-touch-icons/

    //- добавляем normalize.css
    link(href="https://unpkg.com/normalize.css", rel="stylesheet")

    //- подключаем файл со стилями
    link(href="css/style.css", rel="stylesheet")

    |<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    |<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    |<!--[if lt IE 9]>
    |  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    |  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    |<![endif]-->

    block header_style
    block header_script

  body
    block header
      include ../components/header/_header.jade

    block content

    block footer
      include ../components/footer/_footer.jade

    block modal

    //- библиотека для подгрузки файлов ассинхронно
    script
      | var extsrc=null;(function(){extsrc=new Object;extsrc.complete=function(f){this.complete.funcs.push(f);};extsrc.complete.funcs=[];var document_write=document.write;var document_writeln=document.writeln;var buffer='';var span='';function dumpBuffer(){if(buffer&&span){document.write=document_write;document.writeln=document_writeln;var txt=document.createElement('span');txt.innerHTML=buffer;span.appendChild(txt);buffer='';};};function runNextScript(){dumpBuffer();var scripts=document.getElementsByTagName('script');for(var i=0;i<scripts.length;i++){var current_script=scripts[i];var cur_asyncsrc=current_script.getAttribute('asyncsrc');if(cur_asyncsrc){current_script.setAttribute('asyncsrc','');var s=document.createElement('script');s.async=true;s.src=cur_asyncsrc;document.getElementsByTagName('head')[0].appendChild(s);};var cur_extsrc=current_script.getAttribute('extsrc');if(cur_extsrc){current_script.setAttribute('extsrc','');span=document.createElement('span');current_script.parentNode.insertBefore(span,current_script);document.write=function(txt){buffer+=txt;};document.writeln=function(txt){buffer+=txt;buffer+='\n';};var s=document.createElement('script');s.async=true;s.src=cur_extsrc;if(isIE()){s.onreadystatechange=function(){if(this.readyState=='loaded'||this.readyState=='complete'){runNextScript();};};}else{if((navigator.userAgent.indexOf("Firefox")!=-1)||('onerror'in s)){s.onload=runNextScript;s.onerror=runNextScript;}else{s.onload=runNextScript;s.onreadystatechange=runNextScript;};};document.getElementsByTagName('head')[0].appendChild(s);return;};};dumpBuffer();document.write=document_write;document.writeln=document_writeln;for(var i=0;i<extsrc.complete.funcs.length;i++){extsrc.complete.funcs[i]();};};function isIE(){return/msie/i.test(navigator.userAgent)&&!/opera/i.test(navigator.userAgent);};function init(){if(arguments.callee.done)return;arguments.callee.done=true;runNextScript();};if(document.addEventListener){document.addEventListener("DOMContentLoaded",init,false);}if(/WebKit/i.test(navigator.userAgent)){var _timer=setInterval(function(){if(/loaded|complete/.test(document.readyState)){clearInterval(_timer);init();}},10);}window.onload=init;})();

    //- подключаем Jquery JS
    script(extsrc="js/jquery.min.js")
    //- script(extsrc="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(extsrc="js/jquery.jInvertScroll.min.js")

    block script

    //- подключаем главный JS файл
    script(extsrc="js/main.js")
